body{
  max-width: 90%;
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#satu td{
  background-color: orangered;
  color: black;
  width: 100px;
}

#satu th{
    background-color: grey;
    color: black;
    width: 200px;
}

.formStyle{
  margin-top: 20px;
  padding:20px; 
  width: 30%; 
  line-height: 25px; 
  border: 2px solid black; 
  border-radius: 10px;
}

.h1Style{
  text-align: center;
}

.labelPelanggan{
  width: 300px;
}

.inputNama{
  margin-left: 5px;
}

.daftarItem{
  display: flex;
}

.labelDaftarItem{
  width: 110px;
}

.checkboxStyle{
  margin-left: 20px;
}

.inputKirim{
  border-radius: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
